.senaResultItem {
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    font-size:large;
    padding: 10px;
    border-radius: 100%;
    width: 45px;
}

.card-style {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 350px;
    border-radius: 10px;
}

.senaResultArea {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    background-color: aqua;
    display: none;
    width: 100%;
}

body{
    background-color:lavender;
    padding: 20px;
}